apiVersion: fintlabs.no/v1alpha1
kind: Application
metadata:
  name: altinn-ebevis-service
spec:
  resources:
    limits:
      memory: "4Gi"
      cpu: "500m"
    requests:
      memory: "3Gi"
      cpu: "250m"
  env:
    - {name: altinn.base-url, value: 'https://api.data.altinn.no/v1'}

    - {name: fint.kafka.topic.orgs.0, value: 'bfk-no'}
    - {name: fint.kafka.topic.orgs.1, value: 'ofk-no' }
    - {name: fint.kafka.topic.orgs.2, value: 'mrfylke-no' }
    - {name: fint.kafka.topic.orgs.3, value: 'trondelagfylke-no' }
    - {name: fint.kafka.topic.orgs.4, value: 'agderfk-no' }


    - {name: scheduling.initial-delay, value: '30000'}
    - {name: scheduling.fixed-delay, value: '180000'}

    - { name: logging.level.no.novari.ebevis, value: 'info' }
    - { name: logging.level.no.novari.ebevis.maskinporten, value: 'debug' }
    - { name: logging.level.org.apache.kafka.clients, value: 'warn' }
