apiVersion: fintlabs.no/v1alpha1
kind: Application
metadata:
  name: altinn-ebevis-service
spec:
  env:
    - {name: altinn.base-url, value: 'https://test-api.data.altinn.no/v1'}

    - {name: fint.kafka.topic.orgs.0, value: 'bfk-no'}
    - {name: fint.kafka.topic.orgs.1, value: 'ofk-no'}
    - {name: fint.kafka.topic.orgs.2, value: 'mrfylke-no'}
    - {name: fint.kafka.topic.orgs.3, value: 'trondelagfylke-no' }
    - {name: fint.kafka.topic.orgs.4, value: 'agderfk-no' }

    - {name: scheduling.initial-delay, value: '30000'}
    - {name: scheduling.fixed-delay, value: '180000'}

    - {name: logging.level.no.novari.ebevis, value: 'debug'}
    - {name: logging.level.no.novari.ebevis.maskinporten, value: 'trace'}
    - {name: logging.level.org.apache.kafka.clients, value: 'warn'}
