apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - path: deployment.yaml

  - patch: |-
      
      - op: replace
        path: "/spec/onePassword/itemPath"
        value: "vaults/aks-beta-vault/items/altinn-ebevis-service"

    target:
      kind: Application
      name: altinn-ebevis-service