apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:

  - patch: |-
      
      - op: add
        path: "/spec/env/-"
        value:
          name: "altinn.base-url"
          value: "https://test-api.data.altinn.no/v1"

    target:
      kind: Application
      name: altinn-ebevis-service